amqp==5.3.1
asdf==4.0.0
asdf_standard==1.1.1
asdf_transform_schemas==0.5.0
asgiref==3.8.1
attrs==24.3.0
billiard==4.2.1
celery==5.4.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==44.0.0
defusedxml==0.8.0rc2
Django==5.1.5
django-cors-headers==4.6.0
django-debug-toolbar==5.0.1
django-filter==24.3
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
djoser==2.3.1
docopt==0.6.2
drf-nested-routers==0.94.1
exceptiongroup==1.2.2
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
jmespath==1.0.1
kombu==5.4.2
model-bakery==1.20.1
mysql-connector-python==9.1.0
numpy==2.2.1
oauthlib==3.2.2
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
prompt_toolkit==3.0.48
pycparser==2.22
PyJWT==2.10.1
pytest==8.3.4
pytest-django==4.9.0
pytest-watch==4.2.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
semantic-version==2.10.0
six==1.17.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
vine==5.1.0
watchdog==6.0.0
wcwidth==0.2.13
zipp==3.21.0
